Repository jorins/remark-lilypond: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint --fix, prettier --write

Repair tests
  test/bin/build.sh
  test/invokeLilypond.test.ts
  test/lilypondUtil.test.ts
  test/values.ts
Due: eslint --fix, prettier --write

Generate coverage
  .eslintignore
  .gitignore
  .prettierignore
  jest.config.ts
Due: eslint --fix, prettier --write

Cleanup & refactor
  src/const.ts
  src/invokeLilypond.ts
  src/lilypondUtil.ts
  src/plugin.ts
  src/util.ts
  test/invokeLilypond.test.ts
Due: eslint --fix, prettier --write

Bump version
  package.json
Due: none

Format json files
  .lintstagedrc.json
Due: prettier --write

Draft CI/CD
  .github/actions/install-lilypond/action.yml
  .github/actions/setup-pnpm/action.yml
  .github/workflows/cd-docs.yml
  .github/workflows/cd-package.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-package.yml
  .github/workflows/publish-release.yml
  .github/workflows/push-dev.yml
  .github/workflows/push-main.yml
Due: prettier --write

Proper capitalisation of LilyPond in running text
  .github/actions/install-lilypond/action.yml
  package.json
  src/invokeLilypond.ts
  src/parseMeta.ts
  test/lilypondUtil.test.ts
  test/parseMeta.test.ts
Due: eslint --fix, prettier --write

Write a security notice and add links to README
  README.md
Due: prettier --write

Remove quotes not suggested by docs
  .github/workflows/publish-release.yml
  .github/workflows/push-dev.yml
  .github/workflows/push-main.yml
Due: prettier --write

Fixes
  .github/workflows/cd-package.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-package.yml
  .github/workflows/publish-release.yml
Due: prettier --write

More fixup
  .github/workflows/ci-docs.yml
  .github/workflows/ci-package.yml
Due: prettier --write

Add typedoc to deps
  package.json
  pnpm-lock.yaml
Due: none

Add names
  .github/workflows/publish-release.yml
  .github/workflows/push-dev.yml
  .github/workflows/push-main.yml
Due: prettier --write

Reduce version for better CI image support
  test/values.ts
Due: eslint --fix, prettier --write

Add default path resolution for tests on Windows
  test/invokeLilypond.test.ts
Due: eslint --fix, prettier --write

DRY test values
  test/values.ts
Due: eslint --fix, prettier --write

Reduce more versions
  src/invokeLilypond.ts
  test/lilypondUtil.test.ts
Due: eslint --fix, prettier --write

Add longer timeout for test setup
  test/invokeLilypond.test.ts
Due: eslint --fix, prettier --write

Improve per-platform test support
  test/invokeLilypond.test.ts
  test/values.ts
Due: eslint --fix, prettier --write

Fix up binary resolution
  test/invokeLilypond.test.ts
  test/values.ts
Due: eslint --fix, prettier --write

Disable Windows testing
  .github/workflows/ci-package.yml
Due: prettier --write

Add issue reference to TODO comment
  .github/workflows/ci-package.yml
Due: prettier --write

Denote test triggers
  .github/workflows/publish-release.yml
  .github/workflows/push-dev.yml
  .github/workflows/push-main.yml
Due: prettier --write

Add names
  .github/workflows/publish-release.yml
Due: prettier --write

Fix up references being passed around
  .github/workflows/cd-docs.yml
  .github/workflows/publish-release.yml
Due: prettier --write

Fix unavailable context referenec
  .github/workflows/publish-release.yml
Due: prettier --write

Add missing permissions
  .github/workflows/publish-release.yml
Due: prettier --write

Add docs link
  README.md
Due: prettier --write

Make names categorical
  .github/workflows/cd-docs.yml
  .github/workflows/cd-package.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-package.yml
  .github/workflows/publish-release.yml
  .github/workflows/push-dev.yml
  .github/workflows/push-main.yml
Due: prettier --write

Formatting
  .github/workflows/cd-docs.yml
Due: prettier --write

Correct token variable name
  .github/workflows/cd-package.yml
  .github/workflows/publish-release.yml
Due: prettier --write

Fix secret parameter name
  .github/workflows/publish-release.yml
Due: prettier --write

Manually write auth token to config
  .github/workflows/cd-package.yml
Due: prettier --write

Remove test triggers
  .github/workflows/publish-release.yml
  .github/workflows/push-dev.yml
  .github/workflows/push-main.yml
Due: prettier --write

Add PR CI
  .github/workflows/push-pr.yml
Due: prettier --write

Make test commit
  README.md
Due: prettier --write

Add initial changelog
  CHANGELOG.md
Due: prettier --write

Write some fundamental documentation
  README.md
  media/renderedSample.png
  src/index.ts
  typedoc.json
Due: eslint --fix, prettier --write

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.md)) or (any of: .*rc.json)) or (any of: .github/**/*.yml)
